.app {
    background-color: red;
    height: 100%;
    text-align: center;
} 

.menu {
    padding-top: 50px;
    display: inline-block;
    width: 500px;
    height: 160px;
}

#photo {
    position: relative;
    top: 15px;
    width: 125px;
    height: 125px;
}

.left {
    background-color: blue;
    float: left;
    width: 32%;
    border-right: 3px solid black;
    height: 100%;
}

.right {
    background-color: yellow;
    float: right;
    width: 65%;
    height: 100%;
}

.body {
    display: inline-block;
    text-align: left;
    border-top: 3px solid black;
    width: 500px;
    height: 400px;
}