
.app {
    height: 100%;
    text-align: center;
    font-family: Geneva;
} 

.menu {
    padding-top: 50px;
    display: inline-block;
    width: 650px;
    height: 210px;
    margin: 0px;
}

#name {
    font-size: 30px;
    padding-top: 15px;
    margin: 0px;
}

#photo {
    position: relative;
    top: 5px;
    width: 145px;
    height: 145px;
}

.left {
    /* background-color: blue; */
    float: left;
    width: 28%;
    border-right: 3px solid silver;
    height: 100%;
}

.right {
    /* background-color: yellow; */
    text-align: left;
    padding-left: 30px;
    float: right;
    width: 70%;
    height: 100%;
}

.body {
    display: inline-block;
    text-align: left;
    padding-top: 20px;
    width: 650px;
    height: 400px;
    font-size: 16px;
}

.links p {
    margin: 0px;
}

.links {
    padding-top: 5px;
}

.navigation {
    display: inline-block;
    border-top: 3px solid silver;
    width: 650px;
    padding-top: 20px;
}

